apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cross-seed
  namespace: cross-seed
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.30.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/cross-seed/cross-seed
      pullPolicy: IfNotPresent
      tag: 6.13.6
    service:
      main:
        enabled: false
    persistence:
      config:
        enabled: true
        mountPath: /config
      medias:
        enabled: true
        type: nfs
        mountPath: /medias
        path: ${NFS_MEDIAS_PATH}
        server: ${NFS_SERVER}
      config-file:
        enabled: true
        type: configmap
        objectName: cross-seed-config
        expandObjectName: false
        defaultMode: "0644"
        mountPath: /config/config.js
        subPath: config.js
    workload:
      main:
        podSpec:
          containers:
            main:
              command:
                - cross-seed
              args:
                - daemon
              env:
                PROWLARR_URL: http://prowlarr.prowlarr.svc.cluster.local:9696
                PROWLARR_APIKEY: ${PROWLARR_APIKEY}
                QBIT_URL: http://qbittorrent.qbittorrent.svc.cluster.local:10095
                QBIT_USERNAME: ${QBIT_USERNAME}
                QBIT_PASSWORD: ${QBIT_PASSWORD}
              probes:
                startup:
                  enabled: false
                readiness:
                  enabled: false
                liveness:
                  enabled: false
