apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-service-truenas
  namespace: external-service
spec:
  interval: 15m
  chart:
    spec:
      chart: external-service
      version: 16.6.0
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    service:
      main:
        enabled: true
        type: ExternalIP
        externalIP: ${TRUENAS_IP}
        ports:
          main:
            enabled: true
            port: 81
            protocol: http
    ingress:
      main:
        enabled: true
        hosts:
          - host: "truenas.${DOMAIN_0}"
            paths:
            - path: /
              pathType: Prefix
        integrations:
          nginx:
            enabled: true
            auth:
              type: "authelia"
              internalHost: "authelia.authelia.svc.cluster.local:9091"
              externalHost: "auth.${DOMAIN_0}"
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: false
            group: Admin
            description: Network Assisted Storage Operating System
            icon: "truenas.svg"
            name: "TrueNAS"
            widget:
              enabled: true
              type: truenas
              url: http://${TRUENAS_IP}:81
              custom:
                key: ${TRUENAS_HOMEPAGE_TOKEN}
                enablePools: true
                nasType: scale
