apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: maybe
  namespace: maybe
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.2.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/maybe-finance/maybe
      pullPolicy: IfNotPresent
      tag: 0.5.0
    credentials:
      minio:
        name: minio
        type: s3
        path: ""
        accessKey: "${MINIO_ID}"
        bucket: "${MINIO_BUCKET}"
        encrKey: "${MINIO_ENCR_KEY}"
        secretKey: "${MINIO_KEY}"
        url: "${MINIO_URL}"
    persistence:
      app-storage:
        enabled: true
        type: pvc
        mountPath: /rails/storage
        volsync:
          - name: app-storage
            type: restic
            credentials: minio
            cleanupCachePVC: true
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 10 55 * * *
      rails-tmp:
        enabled: true
        type: emptyDir
        mountPath: /rails/tmp
      tmp:
        enabled: true
        type: emptyDir
        mountPath: /tmp
    cnpg:
      main:
        enabled: true
        user: maybe
        database: maybe
        password: ${CNPG_PASSWD}
        hibernate: false
        mode: standalone  # recovery
        cluster:
          instances: ${NUMBER_OF_NODES}
          singleNode: ${SINGLE_NODE}
        backups:
          enabled: true
          revision: ""
          credentials: minio
        recovery:
          enabled: true
          revision: ""
          method: object_store
          credentials: minio
    service:
      main:
        type: LoadBalancer
        ports:
          main:
            port: 3000
    ingress:
      main:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/auth-method: 'GET'
          nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
          nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
          nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
        hosts:
          - host: "maybe.${DOMAIN_0}"
            paths:
            - path: /
              pathType: Prefix
        integrations:
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: Misc
            name: "Maybe"
            description: "The OS for your personal finances"
            icon: "maybe.svg"
            widget:
              enabled: false
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                SELF_HOSTED: "true"
                RAILS_FORCE_SSL: "false"
                RAILS_ASSUME_SSL: "false"
                GOOD_JOB_EXECUTION_MODE: async
                SECRET_KEY_BASE: ${MAYBE_SECRET_KEY}
                DB_HOST: maybe-app-template-cnpg-main-rw.maybe.svc.cluster.local
                POSTGRES_DB: maybe
                POSTGRES_USER: maybe
                POSTGRES_PASSWORD: ${CNPG_PASSWD}
