apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: veplan
  namespace: veplan
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.4.6
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: registry.gitlab.info.uqam.ca/champagne_gareau.jael/veplan
      pullPolicy: Always
      tag: latest
    service:
      main:
        type: LoadBalancer
        ports:
          main:
            enable: true
            port: 8080
    ingress:
      main:
        enabled: true
        hosts:
          - host: "veplan.${DOMAIN_0}"
            paths:
            - path: /
              pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: Misc
            name: "veplan"
            description: "Electric vehicle path-planner"
            icon: "https://gitlab.info.uqam.ca/uploads/-/system/project/avatar/903/EiX7I9rIh3uwR1d8gD9PTFsi_CidZQ3vsxvqgWgQnDieagy-.png"
            widget:
              enabled: false
    podOptions:
      hostUsers: true
    persistence:
      data:
        enabled: true
        type: nfs
        mountPath: /opt/data
        path: ${NFS_VEPLAN_DATA_PATH}
        server: ${NFS_SERVER}
    securityContext:
      container:
        PUID: 1000
        runAsUser: 1000
        runAsGroup: 1000
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                CLUSTER_SIZE: 0
                GUNICORN_PORT: "8080"
                VEPLAN_MAP_FILE: province.txt
                STATION_FILE: rapides.txt
                OSRM_MAP_FILE: quebec-latest.osrm
                MAPQUEST_API_KEY: ${MAPQUEST_API_KEY}
              probes:
                startup:
                  enabled: true
                  type: exec
                  command:
                    - /usr/local/bin/healthCheck.sh
                  spec:
                    initialDelaySeconds: 60
                    periodSeconds: 60
                    failureThreshold: 15
                readiness:
                  enabled: true
                  type: exec
                  command:
                    - /usr/local/bin/healthCheck.sh
                  spec:
                    initialDelaySeconds: 10
                    periodSeconds: 15
                    failureThreshold: 4
                liveness:
                  enabled: true
                  type: exec
                  command:
                    - /usr/local/bin/healthCheck.sh
                  spec:
                    initialDelaySeconds: 900
                    periodSeconds: 60
                    failureThreshold: 5
