apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tileserver-gl
  namespace: tileserver-gl
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.7.5
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: maptiler/tileserver-gl
      pullPolicy: IfNotPresent
      tag: latest
    podOptions:
      hostUsers: true
    persistence:
      data:
        enabled: true
        type: nfs
        mountPath: /data
        path: ${NFS_OSMTILES_DATA_PATH}
        server: ${NFS_SERVER}
    service:
      main:
        type: LoadBalancer
        ports:
          main:
            port: 8080
    ingress:
      main:
        enabled: true
        hosts:
          - host: "tileserver-gl.${DOMAIN_0}"
            paths:
            - path: /
              pathType: Prefix
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: Misc
            name: "tileserver-gl"
            description: "Serves OSM vector and raster tiles"
            icon: "https://avatars.githubusercontent.com/u/19489331?s=48&v=4"
            widget:
              enabled: false
