apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflareddns
  namespace: cloudflareddns
spec:
  interval: 15m
  chart:
    spec:
      chart: cloudflareddns
      version: 12.14.11
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/hotio/cloudflareddns
      pullPolicy: IfNotPresent
      tag: latest@sha256:444850b8e771aba5ba5b7172d3a5b951f519f072e15dcef937a7cf82c6568cad
    securityContext:
      container:
        runAsNonRoot: false
        readOnlyRootFilesystem: false
        runAsUser: 0
        runAsGroup: 0
    cloudflareddns:
      api_token: "${DOMAIN_0_CLOUDFLARE_TOKEN}"
      interval: 300
      host_zone_record:
        - domain: "${DOMAIN_0}"
          zone: "${DOMAIN_0_ZONE_ID}"
          record: A
